Repository trixi-framework/TrixiParticles.jl, pull requests merged in 2025-03, with the labels that each got.

#689 Make GPUs actually usable
  Project.toml
  docs/make.jl
  docs/src/gpu.md
  examples/fluid/dam_break_2d_gpu.jl
  src/TrixiParticles.jl
  src/callbacks/solution_saving.jl
  src/general/corrections.jl
  src/schemes/boundary/dummy_particles/dummy_particles.jl
  src/schemes/solid/total_lagrangian_sph/penalty_force.jl
  src/schemes/solid/total_lagrangian_sph/system.jl
  src/visualization/recipes_plots.jl
  test/examples/examples.jl
Labels: gpu

#623 Revise boundary zones and allow bidirectional flow
  .typos.toml
  examples/fluid/pipe_flow_2d.jl
  src/TrixiParticles.jl
  src/general/semidiscretization.jl
  src/schemes/boundary/open_boundary/boundary_zones.jl
  src/schemes/boundary/open_boundary/method_of_characteristics.jl
  src/schemes/boundary/open_boundary/system.jl
  src/visualization/write2vtk.jl
  test/general/buffer.jl
  test/schemes/boundary/open_boundary/boundary_zone.jl
  test/schemes/boundary/open_boundary/characteristic_variables.jl
  test/systems/open_boundary_system.jl
Labels: enhancement, breaking changes

#723 Use JuliaGPU Buildkite CI for GPU tests
  .buildkite/pipeline.yml
  README.md
  examples/fluid/dam_break_2d_gpu.jl
  examples/fluid/dam_break_3d.jl
  examples/fluid/hydrostatic_water_column_2d.jl
  examples/fluid/periodic_channel_2d.jl
  examples/fluid/pipe_flow_2d.jl
  examples/fsi/dam_break_gate_2d.jl
  examples/solid/oscillating_beam_2d.jl
  src/general/gpu.jl
  src/general/neighborhood_search.jl
  src/general/smoothing_kernels.jl
  src/general/system.jl
  src/preprocessing/particle_packing/system.jl
  src/schemes/boundary/dummy_particles/dummy_particles.jl
  src/schemes/boundary/monaghan_kajtar/monaghan_kajtar.jl
  src/schemes/boundary/open_boundary/system.jl
  src/schemes/boundary/system.jl
  src/schemes/fluid/entropically_damped_sph/rhs.jl
  src/schemes/fluid/entropically_damped_sph/system.jl
  src/schemes/fluid/transport_velocity.jl
  src/schemes/fluid/weakly_compressible_sph/state_equations.jl
  src/schemes/fluid/weakly_compressible_sph/system.jl
  src/schemes/solid/discrete_element_method/system.jl
  src/schemes/solid/total_lagrangian_sph/system.jl
  src/setups/extrude_geometry.jl
  src/setups/rectangular_tank.jl
  test/examples/examples.jl
  test/examples/gpu.jl
  test/runtests.jl
Labels: testing, gpu
